// TODO: Make a debug switch that just outlines everything it would block in red.

// IDs for audiobooks (href="/section/ID")
$audiobooksForYou: '0JQ5DAnM3wGh0gz1MXnue2';
// IDs for podcasts
$spotifyOriginalPodcasts: '0JQ5DAnM3wGh0gz1MXnu4i';
$episodesForYou: '0JQ5DAnM3wGh0gz1MXnu9e';
$geopoliticalAnalysisEpisodesForYou: '0JQ5DAnM3wGh0gz1MXnuk0';
$mediaScrutinyEpisodesForYou: '0JQ5DAnM3wGh0gz1MXnuk1';
$UKPoliticsEpisodesForYou: '0JQ5DAnM3wGh0gz1MXnuk2';
$familyDramaEpisodesForYou: '0JQ5DAnM3wGh0gz1MXnujZ';
$currentEventsEpisodesForYou: '0JQ5DAnM3wGh0gz1MXnuk3';
$showsToTry: '0JQ5DAnM3wGh0gz1MXnu3L';

// The nearby shelves seem to freak out and constantly recalculate their positions if I use display: none
@mixin hide-visibility {
  visibility: hidden;
  height: 0;
  min-height: unset;
  margin: 0;
}

@mixin hide-display {
  display: none !important;
}

.hide-podcasts-enabled {
  // Items I've tagged via JS
  .podcast-item {
    @include hide-display();
  }

  // Podcasts tab in Your Library page
  .queue-tabBar-header a[href="/collection/podcasts"] {
    @include hide-display();
  };

  // Fallback for shelves that have podcasts in them
  // NOTE: These leave behind the `gap` from the grid, since the element is still there
  // If I use display:none, react removes the elements these apply to, so these :has rules no longer apply, and it flashes visible/hidden
  .main-shelf-shelf:has(a[href^="/episode/"]),
  .main-shelf-shelf:has(a[href^="/show/"]) {
    @include hide-visibility();
  }

  // Specific shelves that have podcasts in them
  // These do work, since the link element doesn't get removed when display:none;
  .main-shelf-shelf:has(a[href*="#{$spotifyOriginalPodcasts}"]),
  .main-shelf-shelf:has(a[href*="#{$episodesForYou}"]),
  .main-shelf-shelf:has(a[href*="#{$geopoliticalAnalysisEpisodesForYou}"]),
  .main-shelf-shelf:has(a[href*="#{$mediaScrutinyEpisodesForYou}"]),
  .main-shelf-shelf:has(a[href*="#{$UKPoliticsEpisodesForYou}"]),
  .main-shelf-shelf:has(a[href*="#{$familyDramaEpisodesForYou}"]),
  .main-shelf-shelf:has(a[href*="#{$currentEventsEpisodesForYou}"]),
  .main-shelf-shelf:has(a[href*="#{$showsToTry}"]) {
    @include hide-display();
  }

  // Podcasts categories on search page
  // Old style
  .x-categoryCard-CategoryCard[href="/genre/podcasts-web"],
  // == (Spotify 1.2.26.1187.g36b715a1) ==
  // "Podcasts"
  .x-categoryCard-CategoryCard[href="/genre/0JQ5DArNBzkmxXHCqFLx2J"],
  // "Podcast Charts"
  .x-categoryCard-CategoryCard[href="/genre/0JQ5DAB3zgCauRwnvdEQjJ"],
  // "Educational"
  .x-categoryCard-CategoryCard[href="/genre/0JQ5IMCbQBLl5gxKLgufp8"],
  // "Documentary"
  .x-categoryCard-CategoryCard[href="/genre/0JQ5IMCbQBLjfX9OdDrA5X"],
  // "Comedy"
  .x-categoryCard-CategoryCard[href="/genre/0JQ5IMCbQBLyUJhSxhaPc6"] {
    @include hide-display();
  }

  // "Your Episodes" in sidebar
  .main-yourLibraryX-listItem:has(#listrow-title-spotify\:collection\:your-episodes) {
    @include hide-display();
  }
}

.hide-audiobooks-enabled {
  // Items I've tagged via JS
  .audiobook-item {
    @include hide-display();
  }

  // Specific shelves that have audiobooks in them
  // These do work, since the link element doesn't get removed when display:none;
  .main-shelf-shelf:has(a[href*="#{$audiobooksForYou}"]) {
    @include hide-display();
  }

  // Audiobooks category on search page
  // As of Spotify 1.2.26.1187.g36b715a1
  .x-categoryCard-CategoryCard[href="/genre/0JQ5DAqbMKFETqK4t8f1n3"] {
    @include hide-display();
  }
}
